        <footer>
            <div class="row">
                <div class="col-xs-12">
                    <small>&copy; Rachel Fuller 2017</small>
                </div>
                
            </div>
            
        </footer>
        
        <script src="/javascripts/jquery-3.1.1.slim.min.js"></script>
        <srcipt src="/bootstrap/js/bootstrap.min.js"></script>
        
        </div>
    </body>
</html>