        <footer>
            <div class="row">
                <div class="col-xs-12">
                    <small>&copy; Rachel Fuller 2017</small>
                </div>

            </div>

        </footer>

        <script src="/javascripts/jquery-3.1.1.slim.min.js"></script>
        <srcipt src="/bootstrap/js/bootstrap.min.js"></script>
        <script src="/javascripts/validation.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular-route.js"></script>
        <script src="/angular/wifinder.min.js"></script>
       <!--<script src="/app.js"></script>
        <script src="/home/home.controller.js"></script>
        <script src="/common/services/wifinderData.service.js"></script>
        <script src="/common/services/geolocation.service.js"></script>
        <script src="/common/directives/ratingStars/ratingStars.directive.js"></script>
        <script src="/common/filters/formatDistance.filter.js"></script> -->
        </div>
    </body>
</html>
