<html ng-app="wifinderApp">
    <head>
        <title>WifiNDER</title>
        <link rel="stylesheet" href="/bootstrap/css/flatly.bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">


    </head>
    <body>
        <div class="navbar navbar-fixed-top navbar-default">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">WIFInder</a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>
            <div id="navbar-main" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li>
                  <a href="/about">About</a>
                </li>
              </ul>
            </div>

          </div>

        </div>
        <div class="container">
