<% include ./partials/header %>

<div id="banner" class="page-header">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h1><%=title %></h1>
        </div>
        
    </div>
    
</div>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <p>WIFInder was created to help people find places to sit down and get a bit of work done.</p>
        <br /> <br />
        
        <p>
            Lorem ipsum dolor sit amet, dicant perfecto scripserit eu sit, mea sale concludaturque ex, in vis perfecto repudiandae. 
            Ea his esse interpretaris. Ei usu rebum complectitur. Omnis dicunt ex per, probatus disputando philosophia pro an, 
            sit cu velit virtute. Eam ad saepe vidisse feugiat, his te delicata torquatos, detracto electram sapientem ne vix.

            Efficiendi scripserit qui ad, error tritani id per, verterem molestiae philosophia nec ne. Sint consul soleat ut pri,
            ut altera mollis cotidieque est, ne constituto definitiones vim. In duo justo voluptaria assueverit, an eam omnis mollis
            assueverit. Ea mei mollis dignissim, et has dico choro ullamcorper. Mollis perfecto deterruisset vix no. Ei ius malis zril
            laboramus.
        </p>
        
    </div>
    
</div>

<% include ./partials/footer %>
