<% include ./partials/header %>

<div id="banner" class="page-header">
    <div class="row">
        <div class="col-lg-7">
            <h1>WIFInder <small>&nbsp;Find places to work with wifi near you!</small></h1>
        </div>
        
    </div>
    
</div>

<div class="row">
    <div class="col-xs-12 col-sm-8">
        <div class="row list-group">
            <div class="col-xs-12 list-group-item">
                <h4>
                    <a href="/location">Starbucks</a>
                    <small>
                        &nbsp;
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </small>
                    <span class="badge badge-default pull-right">100m</span>
                </h4>
                <p class="address">
                    7819 Forest Pine Dr, Charlotte, NC 28273
                </p>
                <p>
                    <span class="label label-warning">Coffee</span>
                    | &nbsp;
                    <span class="label label-warning">Food</span>
                    | &nbsp;
                    <span class="label label-warning">wifi</span>
                    | &nbsp;
                    
                </p>
                
                
            </div>
            
        </div>
        
    </div>
    <div class="col-xs-12 col-sm-4">
        <p class="lead">
            Looking for wifi and a seat? WIFInder helps you find places to work when out and about. Perhaps with coffee, food, or a beer? Let WIFInder help you find the place you are looking for. 

        </p>
        
    </div>
    
</div>




<% include ./partials/footer %>